{% extends "base.html" %}
{% load static %}
{% block all %}
<form method="POST">
    <div class="container text-center my-5">
        <a href="base">

            <img src={% static "images/WinterWise.svg" %}>
        </a>
    </div>
    <div class="my-5 text-center">
        <input type="text" name="phone" class="text-white" placeholder="Номер телефона" style="border-radius: 10px;">
    </div>
    <div class="my-5 text-center">
        <input type="text" name="city" class="text-white" placeholder="Укажите ваш город" style="border-radius: 10px;">
    </div>
    <div class="my-5 text-center">
        <input type="text" name="username" class="text-white" placeholder="Логин" style="border-radius: 10px;">
    </div>
    <div class="my-3 text-center ">
        <input class ="text-white"type="password" name="pswd1" id="password" placeholder="Пароль" style="border-radius: 10px;">
    </div>
    <div class="my-3 text-center ">
        <input class ="text-white"type="password" name="pswd2" id="password" placeholder="Пароль" style="border-radius: 10px;">
    </div>
    <!-- <p class="my-3 text-center fontmonst text-white"> -->
        <!-- Войти через: -->
    <!-- </p> -->
    <!-- <div class=" text-center"> -->
        <!-- <img src="images/sber.svg"> -->
        <!-- <img src="images/gosuslugi.svg" class="ms-5"> -->
    <!-- </div> -->
    <div class="my-2 text-center">

        <input type="submit" class="btn fontmonst text-white btn-lg" style="background-color: #395383;">
    </div>
    <div class="my-3 text-center">
        <a href="login" class="btn fontmonst btn-lg" style="color:#313131">Войти</a>
      </div>
      {% csrf_token %}
    </form>
{% endblock all %}